@{
    ViewBag.Title = "About";
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<hgroup class="title">
    <h1>@ViewBag.Title Us</h1>  
</hgroup>
<article>
    <br /> 
    <h4>WE CREATE THE WORLD’S BEST WORKOUTS, AVAILABLE IN CLUBS AROUND THE WORLD OR ANYWHERE ON DEMAND.</h4>
    <p>
        The world’s best music, best moves, and best instructors. We bring it all together to create life-changing fitness shaped by science. We support our tribe of 140,000 instructors as they find their greatness and inspire others to become their best. Partnering with 20,000 clubs worldwide, we make it easy to deliver world-leading group fitness and help members fall in love with fitness.
    </p>     
    <p>
        In a world where we are bombarded by conflicting and confusing health and fitness advice, evidence-based exercise programs stand out. Learn more about the research that shapes LES MILLS™ workouts here.
    </p>
    <br /> 
    <h3>OUR VALUES</h3>
    
        <b>ONE TRIBE</b><br />
    Our customers, our instructors and our team mates are our tribe. We are totally dedicated to their success.<br /><br />
        
        <b>BE BRAVE</b><br />
    We aim to be undisputed world champions in fitness, and we relentlessly pursue that goal.<br /><br />
        
      <b>CHANGE THE WORLD</b><br />
    We are devoted to health and wellbeing. Creating a fitter planet is the reason we are here.<br /><br />
        
    
    <p>
    </p>
</article>

<aside>
    @*<h3>Aside Title</h3>*@
    <img src="~/Images/Yoga.jpg" />
</aside>
