@{
    ViewBag.Title = "Contact";
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<hgroup class="title">
    <h1>@ViewBag.Title Us</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<br />
<article>
    <img src="~/Images/Workout.jpg" />
</article>
<aside>
    
    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <label>Main:</label>
            <span>425.555.0100</span>
        </p>
        <p>
            <label>After Hours:</label>
            <span>425.555.0199</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <label>Support:</label>
            @*<label class="contact">Support:</label>*@
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <label>Marketing:</label>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <label>General:</label>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            One Microsoft Way<br />
            Redmond, WA 98052-6399
        </p>
    </section>
</aside>
